attrs==19.*
notion==0.*
ipdb==0.*
tqdm==4.*
bert-serving-client==1.9.8
spacy==2.*
pandas==0.*
umap-learn==0.3.*
seaborn==0.9.*
goodreads-api-client
oauth2==1.*
xmltodict==0.*
django==2.*
django-postgres-extra==1.*
psycopg2==2.*
python_dotenv==0.*
