<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Dashboard</title>
  <link rel="stylesheet" href="assets/dashboard.css">
</head>
<body>

<section>
  <section class="questions">
    {% for node, data in questions %}
      <div class="node edges-{{ data.num_edges }}">{{ node }}</div>
    {% endfor %}
    <br>
  </section>
  <section class="references">
    {% for node, data in references %}
      <div class="node edges-{{ data.num_edges }}">{{ node }}</div>
    {% endfor %}
    <br>
  </section>
  <section class="notes">
    {% for node, data in notes %}
      <div class="node edges-{{ data.num_edges }}">{{ node }}</div>
    {% endfor %}
    <br>
  </section>
  <section class="posts">
    {% for node, data in posts %}
      <div class="node edges-{{ data.num_edges }}">{{ node }}</div>
    {% endfor %}
    <br>
  </section>
</section>

<footer>
  <div>Last updated: {{ last_updated }}</div>
</footer>

<script type="text/javascript" src="assets/live.js"></script>

</body>
</html>