body {
    line-height: 1.5;
    text-align: center;
}

.node {
    padding: .25em .5em;
    border-radius: .5em;
    margin: .25em .5em;
    border: 1px solid #333;
    border-color: hsla(0, 0%, 0%, 0.5);
    border-radius: 5px;
    float: left;
    max-width: 45vw;
    max-height: 3.15em;
    overflow: hidden;
}

.edges-1 {
    background-color: #DEEDCF;
}

.edges-2 {
    background-color: #BFE1B0;
}

.edges-3 {
    background-color: #99D492;
}

.edges-4 {
    background-color: #74C67A;
}

br, hr, footer {
    clear: both;
}

.container {
    height: 100vh;
}

section {
    border-bottom: 2px solid black;
    padding: 1em 0;
    overflow: scroll;
}

.questions {
    height: 15%;
}

.notes {
    height: 60%;
}

.references {
    height: 8%;
}

.posts {
    height: 8%;
}

footer {
    height: 3%
}

.metrics {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
