body {
    line-height: 1.5;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #333;
}

.node {
    padding: .25em .5em;
    border-radius: .5em;
    margin: .25em .5em;
    border: 1px solid #999;
    border-color: hsla(0, 0%, 0%, 0.5);
    border-radius: 5px;
    float: left;
    max-width: 45vw;
    max-height: 3.15em;
    overflow: hidden;
}

.edges-1 {
    background-color: #DEEDCF;
}

.edges-2 {
    background-color: #BFE1B0;
}

.edges-3 {
    background-color: #99D492;
}

.edges-4 {
    background-color: #74C67A;
}

br, hr, footer {
    clear: both;
}

body {
    margin: 0 1em;
    display: flex;
    flex-direction: column;
}

section {
    overflow: scroll;
    padding: 1.5em 0;
}

section + section {
    border-top: 2px solid lightgrey;
}

body {
    height: 100vh;
}

.questions {
    flex-grow: 1;
}

.references {
}

.notes {
    flex-grow: 1;
}

.posts {
}

footer {
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
